################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/WindowsSetDefaultProgramChecker/bin
/WindowsSetDefaultProgramChecker/obj
/.vs/WindowsSetDefaultProgramChecker/v15/Server/sqlite3
